{{#if videoService.connectionReady}}
    {{#unless inVideo}}
        <a href="#" {{action 'joinVideo'}}>Talk to a customer service agent now!</a>
    {{else}}
        <div class="participants">
            {{#if videoService.localMedia}}
                {{video-tag stream=videoService.localMedia muted=true}}
            {{/if}}
            {{#each participants as |participant|}}
                {{video-tag stream=participant.peer.stream}}
            {{/each}}
        </div>
        <a href="#" {{action 'leaveVideo'}}>Hangup</a>
    {{/unless}}
{{/if}}
